<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),
 rgba(0,0,0,0.2))">
  <div class="head">
    <h1><strong><%=@cocktail.name%></strong></h1>
  </div>
</div>

<div class="container">
  <div class="description">
    <h2>Description</h2>
      <ul>
      <%@cocktail.ingredients.each do |i|%>
        <%i.doses.each do |d|%>
          <li><%=d.description%> of <%=i.name%></li>
        <%end%>
          <%=link_to "Delete the dose",dose_path(i), method: :delete, data: { confirm: 'Are you sure?' }%></p>
        <%end%>
      </ul>

    <h3>Ingredients</h3>

    <div class="ingredients">
      <ul>
      <%@cocktail.ingredients.each do |i|%>
        <li><%=i.name%></li>
      <%end%>
      </ul>
    </div>

    <p><%=link_to "Add ingredients",new_cocktail_dose_path(@cocktail)%></p>
  </div>
</div>

